---
import Construction from '../layouts/Construction.astro';
import Header from '../components/Header.astro'

---

<Construction>
	<Header />
	<main>

	</main>
</Construction>

<style>
	main {
		padding: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
