---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Unix Academy">
	<main>
		<h1>Unix Academy</h1>
		<h2>Learn about <span class="text-gradient">Unix</span>, for free.</h2>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
	}
	h1, h2 {
		margin: 0;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
