<header>
    <h1>Unix Academy</h1>
    <p>Learn about <span class="text-gradient">Unix</span>, for free.<br>
    This website is currently under construction.
    </p>
</header>

<style>
    h1 {
		font-size: 3rem;
		font-weight: 800;
	}
	h1, p {
		margin: 0;
		text-align: center;
	}
    p {
        font-size: 1.2rem;
        font-weight: 600;
    }
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>