---
const pages = await Astro.glob('../pages/lessons/**/**/*.mdx');
const currentPage = Astro.url.pathname;
const currentFolder = currentPage.substring(0, currentPage.lastIndexOf('/'));
---

<sidebar>
    <a href="/">Home</a>
    {
        pages.map((page) => {
            if (currentPage == '/') {
                return <a href={page.url}>{page.frontmatter.title}</a>;
            } else if (page.url && page.url !== currentPage) {
                const pageFolder = page.url.substring(0, page.url.lastIndexOf('/'));
                if (pageFolder === currentFolder) {
                    return <a href={page.url}>{page.frontmatter.title}</a>;
                }
            }
        })
    }
</sidebar>

<style>
    sidebar {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    a {
        text-decoration: none;
        color: blue;
    }
</style>
