---
import type { MDXInstance } from 'astro';
import PageLink from './PageLink.astro';

interface Frontmatter {
    title: string;
    url: string;
}

export interface Props {
    pages: MDXInstance<Frontmatter>[];
}

const { pages } = Astro.props;
---

<ul>
    {
        pages.map((page) => {
            <li>
                <a href="test">Yrdy</a>
            </li>;
        })
    }
</ul>
