---
import BaseHead from "../components/BaseHead.astro";
---

<!DOCTYPE html>
<html lang="en">
	<BaseHead title="Unix Academy | Under Construction"/>
	<body>
		<slot />
	</body>
</html>

<style>
    body {
        background-image: url(/img/construction.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
</style>