---
import Sidebar from '../components/Sidebar.astro';
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <Sidebar />
        <h1>{frontmatter.title}</h1>
        <h2>{frontmatter.lastUpdated}</h2>
        <p>{frontmatter.description}</p>
        <slot />
    </body>
</html>
